<div class="row">
  <div style="margin:auto; color:white;">
    <%= form_tag account_products_path, method: :post, multipart: true, class: 'form' do %>
      <%= render partial: 'form' %>
    <% end %>
  </div>
</div>
