<div class="row">
  <div class="col-xs-12">
    <%= form_tag account_products_path, method: :post, multipart: true, class: 'form' do %>
      <%= render partial: 'form' %>
    <% end %>
  </div>
</div>
