<div>
  <div style="text-align: center; color: white">
    <h1>Dashboard</h1>
    <div >

      Users
      <%= current_user.email %>
      
    </div>
    <div >
      Nbr products
      <%= @data.products_count %>
    </div>
 </div>
</div>
