<div>
  <div style="text-align: center; color: white">
    <h1>Dashboard</h1>
    <div >
      Nbr Users
      <%= @data.users_count %>
    </div>
    <div >
      Nbr products
      <%= @data.products_count %>
    </div>
 </div>
</div>
