


<div class="container">
  <div class="row">
    <div id="search-box" class="col-lg-6">
      <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-success" type="button"><%= t('search') %></button>
      </span>
        <input type="text" class="form-control" placeholder="<%= t('search_placeholder') %>">
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
</div>

<div class="row">
  <div class="col-md-3"><%= link_to t("account.profil"), edit_user_registration_path  %></div>
</div>